

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    
}
.main-section{
    background-image: url(images/Gemini_Generated_Image_9p3tyl9p3tyl9p3t.png);
        background-size: cover;
        background-position: center;
         height: 820px;
        

        
       
}
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 50px;

 }
 .nav_title{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0px;
  
     

 }
 .nav_title_name {
     font-size: 35px;
     color: #0b4b23;
 }

 .nav_title_description {
  
     font-size: 12px;
     color: #2d864e;
 }


 .nav_links {
     display: flex;
     gap: 10px;
     list-style: none;
     padding-right: 50px;
 }

 .nav_links a {
     font-weight: bold;
     padding: 8px 15px;
     background-color: #055f3f;
     color: #eaf5f3;
     text-decoration: none;
     border-radius: 5px;
     transition: 0.5s;
 }

 .nav_links a:hover {
    color: #000502;
     background-color: #034931;
 }
 .hero_section {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 230px;
     max-width: 1200px;
     margin: auto;
     
    
 }
 .hero_section_title {
     font-size: 50px;
     color: #0b4b23;
     text-align: center;
     margin-bottom: 0px;
     font-weight: bold;
 }
 .hero_section_description {
     font-size: 20px;
    font-weight: bold;
     color: #11391f;
     text-align: center;
     margin-bottom: 10px;
 }
 .hero_section_content {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0px;
 }
.explore_button {
     padding: 10px 20px;
    
     background-color: #055f3f;
     color: #c8ece2;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.5s;
 }

 .explore_button:hover {
    color: #5caa79;
     background-color: #034931;
 }
.explore_by_category{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    height: 300px;
    gap: 5px;
    max-width: 1200px;
    margin: auto;
    justify-content: center;

}

.category_1{
    position: relative;

    background-image: url(images/destination.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

}
.category_2{
    position: relative;

    background-image: url(images/Mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

}
.category_3{
    position: relative;
    background-image: url(images/culture\ and\ heritage...jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.category_4{
    position: relative;
      background-image: url(images/Wildlife\ &\ Nature.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    
}
.category_text{
    position: absolute;
    justify-content: center;
    bottom: 0px;
    color: z#9f6050;
    font-weight: bold;
    font-size: 12px;
    
}